@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');

body{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: 300;
}

h1{
    letter-spacing: 2px;
    font-size: 3.5em;
    text-align: center;
}

.container{
    width: 100%;
    height: 70vh;
}

.display{
    margin-left: 37%;
    background-color: #222f3e;
    width: 25%;
    height: 10vh;
    text-align: right;
}

.display span {
    width: 100%;
    font-size: 4.3vw;
    text-align: right;
    color: #c8d6e5;
    padding: 1%;
}

.buttons{
    margin-left: 37%;
    width: 25%;
    background-color: #576574;
    height: 50vh;
}

button{
    height: 15%;
    width: 15%;
    font-size: 2em;
    font-weight: 500;
    margin: 10px;
    border: none;
    border-radius: 10%;
    outline:none;
    background-color: #8395a7;
    color: #fff;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.equals{
    background-color: #ff9f43;
    width: 35%;
    color: #fff;
}

.clear{
    background-color: #ee5253;
    color: #fff;
}

.numbers{
    background-color: #222f3e;
    color: #c8d6e5;
}

.basic_oparators{
    background-color: #10ac84;
    color: #fff;
}

footer{
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 1%;
}
