@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');

body{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: 300;
    text-align: center;
}

footer{
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 1%;
}

h1{
    letter-spacing: 2px;
    font-size: 3.5em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    background-color: #222f3e;
    width: 50%;
    height: 10vh;
  
}

.display span {
    width: 100%;
    font-size: 5em;
    text-align: right;
    color: #c8d6e5;
}
